In [1]:
import pandas as pd

In [2]:
df = pd.read_sas('../capstone_data/AHRF2021.sas7bdat')

Warning: column count mismatch (149 + 927 != 7418)

In [3]:
df.head(2)

,f00001,f00002,f00003,f00004,f00005,f00006,f00007,f00008,f12424,f00010,...,f1533814,f1533813,f1533812,f1533811,f1533810,f1533809,f1533808,f1533807,f1533806,f0081176
0,NaN,b'01001',b'AHRF',b'01001',b'2021',21212.0,32559.0,b'Alabama',b'AL',b'Autauga',...,0.0,0.0,0.0,0.0,1.0,0.0,0.0,5.0,3.0,290.0
1,NaN,b'01003',b'AHRF',b'01003',b'2021',21212.0,32559.0,b'Alabama',b'AL',b'Baldwin',...,2.0,1.0,0.0,2.0,2.0,1.0,2.0,7.0,14.0,155.0